# Laravel
/vendor
/node_modules
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode

# SQLite
/database/*.sqlite
/database/*.sqlite-journal
/database/database.sqlite

# Logs
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/bootstrap/cache/*.php

# OS
.DS_Store
Thumbs.db

# Local test artifacts
public/storage
